// ---------------------------------------------------------------------------------------------------------------------
// Core components import
// ---------------------------------------------------------------------------------------------------------------------

@font-face {
	font-family: 'fsep';
	src:  url('../fonts/fsep-regular.woff2') format('woff2'),
		  url('../fonts/fsep-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'fsep';
	src: url('../fonts/fsep-bold.woff2') format('woff2'),
		 url('../fonts/fsep-bold.woff') format('woff');
	font-weight: 600;

}
@font-face {
	font-family: 'fsep';
	src: url('../fonts/fsep-heavy.woff2') format('woff2'),
		 url('../fonts/fsep-heavy.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
@import 'core/-variables';
@import 'core/-adaptive';
@import 'core/-mixins';

@import 'core/-reset';
@import 'core/-modifiers';
@import 'core/-prototypes';


// ---------------------------------------------------------------------------------------------------------------------
// Custom
// ---------------------------------------------------------------------------------------------------------------------

@import 'custom/-modifers';
@import 'custom/-prototypes';
@import 'custom/-fonts';


// ---------------------------------------------------------------------------------------------------------------------
// Sectors
// ---------------------------------------------------------------------------------------------------------------------
@import 'modules/-hamburger';
@import 'modules/-pagination';
@import 'sectors/-about-gym';
@import 'sectors/-gallery';
@import 'sectors/-news';
@import 'sectors/-our-team';
@import 'sectors/-membership';
@import 'sectors/-schedule';

// ---------------------------------------------------------------------------------------------------------------------
// Pages
// ---------------------------------------------------------------------------------------------------------------------

@import 'pages/-home';
@import 'modules/-form';
@import 'modules/-modal';
@import 'modules/-customscrollbar.scss';

// ---------------------------------------------------------------------------------------------------------------------
// Routes
// ---------------------------------------------------------------------------------------------------------------------


@import '-routes';
