@mixin Underline($Size, $Color, $Mode: 'Center')
{
	$Centrate: nth($Size,1)/2;
	position: relative;
	&:after
	{
		content: '';
		position: absolute;
		@if ($Mode == 'Center')
		{
			left: calc(50% - #{$Centrate});
		}
		@if ($Mode == 'Left')
		{
			left: 0;
		}
		bottom: - nth($Size,3);
		width: nth($Size,1);
		height: nth($Size,2);
		background-color: $Color;

		@content;
	}
}