%Clearfix:before,
%Clearfix:after
{
	display: table;

	content: ' ';
}

%Clearfix:after
{
	clear: both;
}

%Inline
{
	@extend %Clearfix;
	& > *
	{
		float: left;
	}
}

%Uppercase
{
	text-transform: uppercase;
}

%Heading-Std
{
	font-weight:    800;
	text-transform: uppercase;
	text-align:     center;
}


%Grayscale
{
	filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
	filter: gray; /* IE6-9 */
	filter: grayscale(100%);
}

%Inner-Node
{

	margin-left:  auto;
	margin-right: auto;
	@include Adaptive('<desktop')
	{
		padding: 40rem;
	}
	@include Adaptive('>=desktop')
	{
		max-width: 1100px;
	}
}

%Pagination-Circle
{
	display:       inline-block;
	width:         18px;
	height:        18px;
	border-radius: 100%;
	border:        2px solid;
	transition: all .4s;
	& + &
	{
		margin-left: 12px;
	}
}

%Company-Phone
{
	text-transform: uppercase;
	color:          #fff;
	p
	{
		font-weight: 800;
		font-size:   20px;
	}
	small
	{
		display:     inline-block;
		margin-top:  5px;
		font-weight: 600;
		font-size:   14px;
	}
}
