// ---------------------------------------------------------------------------------------------------------------------
//	Viewports list
// ---------------------------------------------------------------------------------------------------------------------

$Viewports: (
  // Phone viewports
        'phone': 0,
        'iphone-4': 320px,
        'iphone-6':375px,
        'nexus-6':412px,
  // Tablet viewports
        'tablet' : 600px,
        'ipad-P' : 768px,
        'ipad-L' : 1024px,
        'ipad-C' : 1100px,
        'ipad-D' : 1200px,
  // Desktop viewports
        'desktop' : 1100px,
        'Laptop' : 1366px,
        'Laptop-1440' : 1440px,
        'Desktop' : 1600px,
        'FHD' : 1920px,
        '2k' : 2560px,
        '4k' : 3840px
) !default;

$Viewport-Expressions: (
        'screen': 'screen',
        'print': 'print',
        'handheld': 'handheld',
        'landscape': '(orientation: landscape)',
        'portrait': '(orientation: portrait)',
        'retina2x': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)',
        'retina3x': '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi)',
        'iphone-ls':'(max-height: 420px) and (-webkit-min-device-pixel-ratio: 2)'
) !default;

// ---------------------------------------------------------------------------------------------------------------------


// ---------------------------------------------------------------------------------------------------------------------
// Color Palette
// ---------------------------------------------------------------------------------------------------------------------
$Pink: #e64f96;
$Blue: #27b5e4;
$Grey: #828181;

// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// Project Folders
// ---------------------------------------------------------------------------------------------------------------------

$Folder-Img: '../img/';
$Folder-Fonts: '../fonts/';

// ---------------------------------------------------------------------------------------------------------------------
