// ---------------------------------------------------------------------------------------------------------------------
// Sector: News
// ---------------------------------------------------------------------------------------------------------------------
.About-Gym-Wrapper
{
	background:      url(../img/bg-yellow.png) center top repeat;
	background-size: cover;
}

.About-Gym
{
	@extend %Inner-Node;
	padding:    70rem 0 40rem;
	text-align: center;
	color:      #7f4420;
	@include Adaptive('>desktop')
	{
		padding: 70px 0 40px;
	}
	h3
	{
		@extend %Heading-Std;
		margin-bottom: 30px;
		@include Adaptive('<desktop')
		{
			font-size: 37rem;
		}
		font-size:     50rem;
	}
	h4
	{
		@extend %Heading-Std;
		margin-top: 60rem;
		font-size:  32rem;
		@include Adaptive('>desktop')
		{
			margin-top: 60rem;
			font-size:  24rem;
		}
	}
	p
	{
		font-size:   25rem;
		line-height: 32rem;
		@include Adaptive('>desktop')
		{
			font-size:   22px;
			line-height: 24px;
		}
	}
}

.Advantages
{
	padding-bottom: 40rem;
	font-size:      0;
	text-align:     center;

	li
	{
		padding-top:    60rem;
		vertical-align: top;
		display:        inline-block;
		width:          33.33%;
		@include Adaptive('>desktop')
		{
			width: 20%;
		}

		p
		{
			@extend %Heading-Std;
			display:     inline-block;
			margin-top:  20rem;
			font-size:   13rem;
			line-height: 18rem;
			@include Adaptive('>=desktop')
			{
				max-width:   135rem;
				line-height: 18rem;
				font-size:   13rem;
			}
		}
		svg
		{
			overflow: visible;
			display:    inline-block;
			max-height: 40rem;
			width:      100%;
			fill:       #7f4420;

			@include Adaptive('>desktop')
			{
				max-height: 50px;
			}
		}
		&:hover svg
		{
			animation: Buzz-Out 1s;

		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
