// ---------------------------------------------------------------------------------------------------------------------
// Sector: Gallery
// ---------------------------------------------------------------------------------------------------------------------
.Photo-Gallery
{
	background: url(../img/gallery.png) center 0 repeat fixed;
	background-size: cover;
	text-align: center;
	height: 300px;
	display: table;
	width: 100%;

	@include Adaptive('>=desktop')
	{
		height: 400px;
	}
	@include Adaptive('>=Laptop')
	{
		height: 600px;
	}

	h3
	{
		@extend %Heading-Std;
		padding-top: 15rem;
		padding-bottom: 35rem;
		font-size: 47rem;
		color: #fff;
		@include Adaptive('>=desktop')
		{
			padding-top: 30px;
			padding-bottom: 60px;
			font-size: 74px;

		}
	}
	.Ghost-Button
	{
		&:hover
		{
			color: #282828;
		}
	}
}