.Membership-Inner
{
	@extend %Inner-Node;
}
.Membership
{
	position: relative;
	padding-top: 50rem;
	padding-bottom: 80px;
	background: url(../img/bg-purple.png) center center no-repeat;
	background-size:cover;
	.Ghost-Button
	{
		&:hover
		{
			color: #8f37b3;
		}
	}
	h3
	{
		@extend %Heading-Std;
		padding-bottom: 50rem;
		font-size: 50px;
		color: #6e00a7;
		@include Adaptive('<420px')
		{
			font-size: 40px;
		}
		@include Adaptive('>=desktop')
		{
			margin-top:30rem;
		}
	}
}

.Membership-Slider
{
	position: relative;
	padding: 0 40rem;
	text-align: center;
	@include Adaptive('>=desktop')
	{
		padding: 0 100px;
	}
	article
	{
		position: absolute;
		padding-top: 30rem;
		overflow: hidden;
		text-align: left;
	}
	h4
	{
		position: relative;
		font-weight:	 800;
		text-transform: uppercase;
		font-size: 37rem;
		color: #fff;
		text-align: center;

		@include Underline(80rem 5rem 25rem, #fff)
		{
			@include Adaptive('>=desktop')
			{
				left: 0;
			}
		}

		@include Adaptive('>=desktop')
		{
			text-align: left;
			font-size: 28px;
		}
	}
	p
	{
		overflow: hidden;
		margin-top: 45px;
		font-weight:	 400;
		color: #fff;
		font-size: 26rem;
		line-height: 50rem;
		text-align: center;
		@include Adaptive('>=desktop')
		{
			text-align: left;
			font-size: 20px;
			line-height: 24px;
		}
	}
	.Membership-Card
	{
		position: relative;
		margin-right: 70px;
		width: 100%;
		padding-bottom: 50px;

		img
		{
			display: block;
			width: 100%;
			border-radius: 20rem;
		}

		@include Adaptive('>=desktop')
		{
			float: left;
			width: 370px;

			background: url(../img/bg-shadow.png) center bottom no-repeat;
			background-size: contain;
		}
	}

	.Membership-Info
	{
		overflow: hidden;
	}
}


.Membership
{
    text-align: center;

    .Membership-List{
        position: relative;
        overflow: hidden;
        height: 100%;
        article{
            width: 100%;
        }
    }

    .Membership-Inner {
        padding-bottom: 110px;
    }


	.Arrow
	{
		position: absolute;
		top: 75px;
        cursor: pointer;

		&.Left
		{
			left: -20rem;
			@include Adaptive('>=desktop')
			{
				left: 0;
			}
		}
		&.Right
		{
			right: -20rem;
			@include Adaptive('>=desktop')
			{
				right: 0;
			}
			transform: rotate(180deg);
		}
		svg
		{
			padding: 0 20rem;
			width: 35rem;
			fill: #fff;
			transition: all .4s;
		}
		&:hover svg
		{
			fill: #6e00a7;
		}
	}


	.Slider-Pagination
	{
		margin: 45rem 0 40px;

		li
		{
			display: inline-block;
			& + li
			{
				margin-left: 12px;
			}
			a
			{
				@extend %Pagination-Circle;
				border-color: #fff;
                cursor: pointer;

			}
            &.Active a
            {
                background-color: #fff;
            }
		}
	}
}