// ---------------------------------------------------------------------------------------------------------------------
// Sector: News
// ---------------------------------------------------------------------------------------------------------------------
.News
{
	padding:    75rem 40rem 60rem;
	font-size:  0;
	background: url(../img/grey-pattern.png) repeat;
	position: relative;

	text-align: center;
	@include Adaptive('>=desktop')
	{
		padding: 0 40rem;
	}
	.News-Content
	{
		margin-top:  32rem;
		font-size:   25rem;
		line-height: 32rem;
		color:       #3d3d3d;
		@include Adaptive('>=desktop')
		{
			margin-top:  20rem;
			font-size:   18rem;
			line-height: 22rem;
		}
	}
	.News-Date
	{
		@extend %Uppercase;
		display:       block;
		margin-bottom: 8rem;
		font-weight:   800;
		font-size:     18rem;
		color:         $Grey;
		@include Adaptive('>=desktop')
		{
			font-size: 12rem;
		}
	}

	.News-Title
	{
		@extend %Uppercase;
		font-weight:     800;
		font-size:       25rem;
		line-height:     30rem;
		color:           $Blue;
		text-decoration: underline;
		@include Adaptive('>=desktop')
		{
			font-size:   18rem;
			line-height: 28rem;
		}
		&:hover
		{
			color:           $Pink;
			text-decoration: none;
		}
	}

	.Ghost-Button
	{
		color:        $Blue;
		border-color: $Blue;
		margin-top:   50rem;
		&:hover
		{
			color:            #fff;
			background-color: $Blue;
		}
		@include Adaptive('>=desktop')
		{
			display: none;
		}
	}
}

.News-Article
{
	text-align:     left;
	vertical-align: top;
	@include Adaptive('>=desktop')
	{
		display:       inline-block;
		width:         33.33%;
		margin-top:    70rem;
		padding-left: 35rem;
		padding-right: 35rem;
	}
	@include Adaptive('<desktop')
	{
		& + .News-Article
		{
			margin-top: 75rem;
		}
	}
}

.News-Article-Slide{
	@include Adaptive('>=desktop') {
		position: absolute;
		top: 0;
	}
	@include Adaptive('<desktop'){
		margin-top: 75rem;
	}

}

.News-Wrapper{
	height: 100%;
	position: relative;
}

.News-Lins{
	max-width: 1100px;
	margin: 0 auto;

	@include Adaptive('>=desktop'){
		padding-bottom: 140px;
		box-sizing: content-box;
	}

	@include Adaptive('<desktop'){
		height: auto !important;
	}

}


.News .Slider-Pagination
{
	display: none;
	@include Adaptive('>=desktop')
	{
		display: block;
		li
		{
			a
			{
				border-color: #6c6c6c;
				cursor: pointer;
				&:hover
				{
					border-color: #333;
					background-color: rgba(30,30,30,.8);
				}
			}
			&.Active a
			{
				background-color: #6c6c6c;
			}

		}
	}

	padding: 60rem 0;
}

// ---------------------------------------------------------------------------------------------------------------------

.News-Post
{
	@extend %Inner-Node;
	text-align: center;
	margin:     70rem auto;

	header
	{
		@extend %Uppercase;
		margin-bottom: 30rem;
		text-align:    left;
		font-weight:   800;

		h1
		{
			@include Adaptive('<desktop')
			{
				margin-top:  10rem;
				font-size:   37rem;
				line-height: 42rem;
			}
			font-size:   28rem;
			line-height: 36rem;
			color:       $Pink;
		}
		small
		{
			@include Adaptive('<desktop')
			{
				font-size:   18rem;
				line-height: 22rem;
			}
			font-size:   16rem;
			line-height: 20rem;
			color:       $Grey;
		}
	}
	.News-Content
	{
		text-align:  left;
		@include Adaptive('<desktop')
		{
			font-size:   25rem;
			line-height: 32rem;
		}
		font-size:   18rem;
		line-height: 20rem;
		color:       #3d3d3d;

		* + *
		{
			margin-top: 20rem;
		}
	}

	a.Ghost-Button
	{
		margin:       70rem auto 0;
		color:        $Pink;
		border-color: $Pink;
		&:hover
		{
			color:        #fff;
			border-color: $Pink;
			background:   $Pink;
		}
	}

}