.Our-Team
{
	background-color: #000;
	font-size: 0;

	li
	{
		position: relative;
		overflow: hidden;
		display: inline-block;
		width: 50%;
		height: 100%;
		transition: all .4s;

		@include Adaptive('>=desktop')
		{
			width: 25%;
		}

		header
		{
			will-change: opacity;
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			margin-top:-43rem;
			z-index: 2;
			transition: opacity .6s;

			@at-root .Trainer-Name
			{
				@extend %Heading-Std;
				position: relative;
				font-size: 27rem;
				color: #fff;

				@include Underline(120rem 2rem 12rem, #fff)
				{
					@include Adaptive('>=desktop')
					{
						bottom: -16rem;
						height: 3rem;
					}
				}

				@include Adaptive('>=desktop')
				{
					font-size: 38px;
				}
			}

			@at-root .Trainer-Position
			{
				@extend %Heading-Std;
				margin-top: 25rem;
				font-weight:	 600;
				font-size: 13rem;
				color: #fff;
				@include Adaptive('>=desktop')
				{

					font-size: 14px;
					margin-top: 35px;
				}
			}
		}

		a
		{
			cursor: default;
			text-decoration: none;
		}


		.Back
		{
			@extend %Grayscale;
			will-change: auto;
			display: block;
			opacity: .7;
			img
			{
				transition: all .6s;
				display: block;
				width: 100%;
				margin: auto;
			}
		}
		&:hover
		{
			.Back
			{
				opacity: 1;
				filter: none;
				img
				{
					transform: scale(1.25);
				}
			}
			header
			{
				opacity: 0;
			}
		}
	}
}