// ---------------------------------------------------------------------------------------------------------------------
// Sector: Schedule
// ---------------------------------------------------------------------------------------------------------------------

.Schedule
{
    @at-root .Schedule-Inner
    {
        @extend %Inner-Node;
        padding:     0 !important;
        padding-top: 80rem !important;
    }

    h3
    {
        @extend %Heading-Std;
        font-size:     40rem;
        color:         #e64f96;
        margin-bottom: 40rem;

        small
        {
            font-size: 22rem;
            @include Adaptive('<desktop')
            {
                display:        block;
                padding-bottom: 25px;
            }
        }
    }

    .Schedule-Frame-Wrapper
    {
        display:  none;
        position: relative;

        &.Visible
        {
            display: block;
        }
    }

    @at-root .Schedule-Frame
    {

        position:   relative;
        //overflow-x: scroll;
        //overflow-y: hidden;

        &::-webkit-scrollbar
        {
            width: 20px;
        }

        &::-webkit-scrollbar-track
        {
            background: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb
        {
            background: #e64f96;
        }

        @at-root .Schedule-Table
        {
            position:      relative;
            margin-left:   75px;
            margin-bottom: 14rem;
            text-align:    center;
            @extend %Uppercase;

            tr > *
            {
                background-color: #f3f3f3;
            }

            tr > *.Odd
            {
                background-color: #e7e7e7;
            }

            th
            {
                height:         104px;

                vertical-align: middle;
                border:         2px solid #fff;
                padding:        30px;
                font-size:      18px;
                font-weight:    800;
                color:          #5b5b5b;
                @include Adaptive('<=tablet')
                {
                    height: 80px;
                }

                small
                {
                    display:     block;
                    margin-top:  10px;
                    font-weight: 600;
                    font-size:   14px;
                    color:       #818181;
                }
            }


            td
            {
                height:         80rem;
                padding:        0 15px;
                vertical-align: middle;
                border:         2px solid #fff;
                white-space:    nowrap;
                font-weight:    600;
                font-size:      14px;
                color:          $Blue;

                cursor:         pointer;
                @include Adaptive('>=desktop')
                {
                    height: 60rem;
                }

                em
                {
                    font-size:      14px;
                    color:          #5b5b5b;
                    text-transform: lowercase;
                    font-weight:    600;
                }

                small
                {
                    display:    block;
                    margin-top: 5px;
                    font-size:  12px;
                    color:      $Pink;
                    @include Adaptive('<tablet'){
                        margin-top: 0;
                    }
                }
                &.Old
                {
                    color: rgba(39, 181, 228, 0.5);
                    small
                    {
                        color: rgba(230, 79, 150, 0.5);
                    }
                }
                &.Double
                {
                    padding:    0 !important;
                    text-align: center;

                    span
                    {

                        padding:    0 20rem;
                        display:    table-cell;
                        text-align: center;
                        @include Adaptive('>=desktop')
                        {
                            padding: 13rem 20rem 14px;
                        }

                        &:first-of-type
                        {
                            border-right: 2px solid white;
                        }
                    }
                }
            }
        }
    }
    @at-root .Schedule-Time
    {
        position:   absolute;
        left:       0;
        width:      75px;
        z-index:    2;
        text-align: center;
        th
        {
            height:           104px;

            @include Adaptive('<=tablet')
            {
                height:           80px;
            }


            vertical-align:   middle;
            border-top:       2px solid #fff;
            border-bottom:    2px solid #fff;
            background-color: $Blue;
        }

        td
        {
            padding:          0 10rem;
            background-color: $Blue;
            color:            #fff;
            font-size:        25rem;
            height:           80rem;
            vertical-align:   middle;
            border-top:       2px solid #fff;
            border-bottom:    2px solid #fff;
            @include Adaptive('>=desktop')
            {
                height:    60rem;
                font-size: 18px;
            }
        }
    }
}

.Link-Script
{
    padding:             5rem 40rem 5rem 10rem;
    color:               #44b3f2;
    text-decoration:     none;
    border:              3rem solid #44b3f2;
    background-image:    url(../img/triangle.svg);
    background-repeat:   no-repeat;
    background-position: center right;
    @include Adaptive('<tablet')
    {
        padding: 5rem 60rem 5rem 10rem;
    }
}

.Dropdown
{
    position: relative;
    display:  inline-block;
    @at-root .Dropdown-Title
    {
        padding: 20px 50px 20px 20px;
        border:  3px solid #44b3f2;
        color:   #44b3f2;
        cursor:  pointer;
        @at-root .Dropdown-Toggle
        {
            position:   absolute;
            top:        50%;
            right:      20px;
            height:     11px;
            margin-top: -25px;
            svg
            {
                display: inline-block;
                height:  11px;
                width:   18px;
                fill:    #44b3f2;
            }
        }
    }
    @at-root .Dropdown-Content
    {
        position:         absolute;
        left:             0;
        right:            0;
        font-size:        20px;
        border:           3px solid #44b3f2;
        border-top:       0;
        text-align:       left;
        background-color: #fff;
        li
        {
            padding:    20px;
            cursor:     pointer;
            transition: all .4s;
            &:hover
            {
                background-color: #44b3f2;
                color:            #fff;
            }
        }
    }

    &.Active svg
    {
        transform: rotate(180deg);
    }
}

// ---------------------------------------------------------------------------------------------------------------------