// ---------------------------------------------------------------------------------------------------------------------
// Shared styles
// ---------------------------------------------------------------------------------------------------------------------

html
{
    font-family:  'Open Sans', sans-serif;
    font-size:    .6px;
    font-kerning: normal;
    overflow-x:   hidden;

    @include Adaptive('<=420px')
    {
        font-size: .6px;
    }

    @media (orientation: landscape) and (min-device-pixel-ratio: 2), (orientation: portrait) and (min-width: 460px) {
        font-size: 1px;
    }

    @include Adaptive('>=900px')
    {
        font-size: 1px;
    }
    @include Adaptive('<desktop')
    {
        overflow-x: hidden;
    }
    @include Adaptive('>=1080px')
    {
        font-size: 1px;
    }
}

body
{
    overflow-x: hidden;
}

main
{
    @include Adaptive('>desktop')
    {
        min-height: calc(100vh - 118rem);

    }
    padding-bottom: 118rem;
}

.Ghost-Button
{
    display:         inline-block;
    padding:         15rem 25rem;
    border:          3px solid #fff;
    font-size:       23rem;
    font-weight:     800;
    color:           #fff;
    text-decoration: none;
    text-transform:  uppercase;
    cursor:          pointer;
    transition:      all .4s;
    &:hover
    {
        background-color: #fff;
    }
    @include Adaptive('>=desktop')
    {
        padding:   18px 30px;
        font-size: 20px;
    }
}

// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// Site Header
// State: default
// ---------------------------------------------------------------------------------------------------------------------

.Site-Header
{
    @include Adaptive('>=desktop')
    {
        height: 100vh;
    }

    position:        relative;
    background-size: cover;
    background:      #507fbd;

    @include Adaptive('<desktop')
    {
        box-shadow: 0 0 38px 0 rgba(0, 0, 0, 0.15);
    }
    .Top-Bar
    {
        @extend %Inner-Node;
        position:    relative;
        z-index:     3;
        padding-top: 45px;

        @include Adaptive('<desktop')
        {
            position:         fixed;
            top:              0;
            left:             0;
            right:            0;
            text-align:       center;
            height:           100rem;
            background-color: #fff;
        }
        .Logotype
        {
            vertical-align:  middle;
            display:         inline-block;
            margin-top:      -20px;
            text-transform:  uppercase;
            text-decoration: none;
            text-align:      center;

            @include Adaptive('<desktop')
            {
                margin-top: -26rem;
                img
                {
                    width: 220rem;

                }
            }
            @include Adaptive('>=desktop')
            {
                img
                {
                    width: 190rem;
                }
            }

            img
            {
                display: block;
            }

            span
            {
                display:    inline-block;
                margin-top: 6rem;
                font-size:  14rem;
                color:      #686868;
                @include Adaptive('>=desktop')
                {
                    font-size: 12rem;
                    color:     #fff;
                }
            }
        }
        @at-root nav
        {
            @include Adaptive('<desktop')
            {
                display: none;
            }

            @include Adaptive('>=desktop')
            {
                display:     inline-block;
                margin-left: 125px;
            }
        }
        .Company-Phone
        {
            @extend %Company-Phone;
            float:          right;
            vertical-align: top;
            display:        inline-block;
            text-align:     right;
            @include Adaptive('<desktop')
            {
                display: none;
            }
        }
    }

    nav ul
    {
        @include Adaptive('<desktop')
        {
            width:            100%;
            top:              100rem;
            left:             0;
            right:            0;
            padding-top:      30rem;
            background-color: rgba(0, 0, 0, .8);
            position:         absolute;
        }
        li
        {
            @include Adaptive('>=desktop')
            {
                display: inline-block;

                & + li
                {
                    margin-left: 10px;
                }
            }

            a
            {
                display:        inline-block;
                padding:        10px;
                color:          #fff;
                font-weight:    600;
                font-size:      18px;
                text-transform: uppercase;
                transition:     color .4s;

                @include Adaptive('<desktop')
                {
                    display:         block;
                    font-size:       42rem;
                    text-align:      center;
                    text-decoration: none;
                    padding:         40rem 0;
                }
                @include Adaptive('>=desktop')
                {
                    display: inline-block;
                }
                &:hover
                {
                    color:           $Pink;
                    text-decoration: none;
                }
            }
        }
    }

    // ---------------------------------------------------------------------------------------------------------------------
    // State: Inner
    // ---------------------------------------------------------------------------------------------------------------------

    &.Inner
    {
        height:         auto;
        padding-bottom: 25px;
        background:     none;
        @include Adaptive('>=desktop')
        {
            border-bottom: 3px solid #e4e4e4;
        }

        .Top-Bar .Logotype > span
        {
            color: #838383;
        }
        nav a
        {
            color: $Pink;
            &:hover
            {
                color: #44b3f2;
            }
        }
        .Company-Phone
        {
            color: #44b3f2;
        }
    }
}

// ---------------------------------------------------------------------------------------------------------------------
// Slider Content
// ---------------------------------------------------------------------------------------------------------------------

// Slider Viewport
.Slides
{
    //position: relative;
    top:     0;
    z-index: 1;

    @include Adaptive('<desktop')
    {
        margin-top: 100rem;
    }

    // Slider Page
    .Scroll-Down
    {

        position:   absolute;
        left:       0;
        right:      0;
        bottom:     30rem;
        width:      80rem;
        text-align: center;
        display:    block;
        margin:     auto;

        @include Adaptive('>=desktop')
        {
            display: none;
        }
        svg
        {
            width:     80rem;
            height:    80rem;
            display:   inline-block;
            fill:      #fff;
            transform: rotate(-90deg);
            use
            {
                display: block;
            }
        }
    }
    .Slider-Pagination
    {
        position: absolute;
        bottom:   100rem;
        @include Adaptive('<desktop')
        {
            bottom: 120rem;
        }

        @media (min-width: 1080px) and (max-height: 800px) {
            bottom: 60rem;
        }

        a
        {
            cursor:       pointer;
            border-color: #fff;
        }

        .Active a
        {
            background-color: #fff;
        }
    }
    .Slider-Frame
    {
        position:        absolute;
        top:             0;

        //min-height: 100%;

        background-size: cover;

        padding-bottom:  160rem;
        color:           #fff;
        text-transform:  uppercase;
        background:      url('') center 0 fixed;
        background-size: cover;

        @include Adaptive('>=desktop')
        {
            height: 100vh;
            right:  0;
            left:   0;

            bottom: 0;
        }

        @at-root .Slider-Inner
        {
            @extend %Inner-Node;
            margin:       190rem 40rem 0;
            padding:      50rem 90rem;
            border-width: 8rem;
            border-style: solid;
            border-image: linear-gradient(135deg, #5a77c3 0%, #d12492 25%, #f45661 50%, #f4d033 75%, #f4d631 100%) 8 stretch;

            @include Adaptive('>=desktop')
            {
                margin: 150rem auto;
            }

            @include Adaptive('<Laptop')
            {
                max-width: 1000px;
            }
        }

        h3
        {
            margin-bottom:  70rem;
            text-align:     center;
            font-weight:    800;
            font-size:      37rem;
            line-height:    47rem;
            letter-spacing: -3rem;

            @include Underline(300rem 8rem 30rem, #fff);

            @include Adaptive('>=desktop')
            {
                font-size:   68rem;
                line-height: 78rem;
            }
            small
            {
                display:   block;
                font-size: 37rem;
                @include Adaptive('>=desktop')
                {
                    font-size: 55rem;
                }
            }
        }
        p
        {
            text-align:  center;
            font-size:   25rem;
            line-height: 36rem;
            @include Adaptive('<desktop')
            {
                text-align: center;
            }
            @include Adaptive('>=desktop')
            {
                font-size:   18px;
                line-height: 32px;
            }

        }
    }
}

// ---------------------------------------------------------------------------------------------------------------------
// Site Footer
// ---------------------------------------------------------------------------------------------------------------------

.Site-Footer
{
    margin-top: -118rem;
    overflow:   hidden;

    .Footer-Inner
    {
        text-align: center;
        @extend %Inner-Node;
        & > *
        {
            vertical-align: middle;
            width:          100%;
            @include Adaptive('>=desktop')
            {
                width: 33.33%;
            }
        }
    }
    .Logotype
    {
        display: inline-block;
        @include Adaptive('<desktop')
        {
            margin-top: 20rem;
        }
        @include Adaptive('>=desktop')
        {
            margin-top: -5px;
            float:      left;
            text-align: left;
        }
        svg
        {
            width:  250rem;
            height: 150rem;
            fill:   #fff;
            @include Adaptive('>=desktop')
            {
                max-width: 180rem;
                height:    60rem;
            }
        }
    }

    .Contacts
    {
        @extend %Inner-Node;
        font-size:     0;
        margin-bottom: 50rem;

        @include Adaptive('>=desktop')
        {

            text-align: center;
        }

        h3
        {
            @extend %Heading-Std;
            margin-top:    50rem;
            margin-bottom: 60rem;
            color:         $Pink;
            font-size:     37rem;
            @include Adaptive('>=desktop')
            {
                margin-top:    120rem;
                margin-bottom: 60rem;
                font-size:     40rem;
            }
        }

        .Company-Address
        {
            font-weight: 800;
            @include Adaptive('<desktop')
            {
                margin-top: 35rem;
            }
            @include Adaptive('>=desktop')
            {
                margin-left: 100px;
            }

        }
        .Company-Phone,
        .Company-Address
        {
            display:    inline-block;
            font-size:  0;
            text-align: left;
            p
            {
                color:          #555;
                font-size:      26rem;
                font-weight:    800;
                letter-spacing: -1rem;
                @include Adaptive('>=desktop')
                {

                    font-size: 20rem;
                }
            }
            small
            {
                display:    inline-block;
                color:      #989898;
                font-size:  18rem;
                margin-top: 6rem;
                @include Adaptive('>=desktop')
                {

                    font-size: 14px;
                }
            }
            span
            {
                vertical-align: middle;
                display:        inline-block;
            }
            svg
            {
                display:        inline-block;
                vertical-align: middle;
                width:          40rem;
                height:         40rem;
                margin-right:   15rem;
                fill:           #6d6e71;
            }
        }
    }
    .Map iframe, #Google-Map
    {
        width:  100%;
        height: 480rem;
    }
    .Bottom
    {
        padding-top:     35px;
        padding-bottom:  35px;
        background:      $Blue url(../img/bg-blue.png) center top no-repeat;
        background-size: cover;
        font-size:       0;
    }

    .Company-Phone
    {
        @extend %Company-Phone;
        display:    inline-block;
        text-align: center;
        color:      #fff;
        @include Adaptive('<desktop')
        {
            margin-top: 40rem;
            p
            {
                font-size: 32rem;
            }
            small
            {
                font-size: 22rem;
            }
        }
        small
        {
            text-transform: none;
        }
        @include Adaptive('>desktop')
        {
            margin-top: 8px;
        }
    }
    .Social-Icons
    {
        display: inline-block;
        @include Adaptive('>=desktop')
        {
            text-align: right;
            float:      right;
        }
        li
        {
            display: inline-block;
            width:   50px;
            a
            {
                display:       block;
                border-radius: 100%;
                border:        4px solid #fff;
                transition:    all .4s;
                &:hover
                {
                    background-color: #fff;
                    svg
                    {
                        fill: #239bcc;
                    }
                }
                svg
                {
                    transition: all .4s;
                    height:     42px;
                    width:      100%;
                    fill:       #fff;
                }
            }

            & + li
            {
                margin-left: 18rem;
                @include Adaptive('>=desktop')
                {
                    margin-left: 12px;
                }
            }
        }
    }
}

// ---------------------------------------------------------------------------------------------------------------------

@keyframes Shake
{
    0%, 100%
    {
        -webkit-transform: translate3d(0, 0, 0);
        transform:         translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90%
    {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform:         translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80%
    {
        -webkit-transform: translate3d(10px, 0, 0);
        transform:         translate3d(10px, 0, 0);
    }
}

@keyframes Buzz-Out
{
    10%
    {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform:         translateX(3px) rotate(2deg)
    }
    20%
    {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform:         translateX(-3px) rotate(-2deg)
    }
    30%
    {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform:         translateX(3px) rotate(2deg)
    }
    40%
    {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform:         translateX(-3px) rotate(-2deg)
    }
    50%
    {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform:         translateX(2px) rotate(1deg)
    }
    60%
    {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform:         translateX(-2px) rotate(-1deg)
    }
    70%
    {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform:         translateX(2px) rotate(1deg)
    }
    80%
    {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform:         translateX(-2px) rotate(-1deg)
    }
    90%
    {
        -webkit-transform: translateX(1px) rotate(0);
        transform:         translateX(1px) rotate(0)
    }
    100%
    {
        -webkit-transform: translateX(-1px) rotate(0);
        transform:         translateX(-1px) rotate(0)
    }
}
