// ---------------------------------------------------------------------------------------------------------------------
//
// ---------------------------------------------------------------------------------------------------------------------
.Modal
{
    position:         absolute;
    top:              0;
    bottom:           0;
    left:             0;
    right:            0;
    background-color: rgba(0, 0, 0, .8);
}

.Modal-Inner
{
    position:            relative;
    padding:             100rem 80rem;
    background-color:    #fff;
    background-image:    url(../img/bg-join-tl.png),
                         url(../img/bg-join-tr.png),
                         url(../img/bg-join-bl.png),
                         url(../img/bg-join-br.png);
    background-position: left top, right top, left bottom, right bottom;
    background-repeat:   no-repeat;

    @include Adaptive('<desktop')
    {
        background-size: 50%;
    }

    @include Adaptive('>=desktop')
    {
        left:    calc(50vw - 290px);
        width:   581px;
        padding: 90rem;
    }

    @media (min-width: 1100px) and (max-height: 700px) {
        top:     5%;
        padding: 40rem;
        .Close
        {
            top:   0;
            right: -70rem;
        }

        form
        {
            margin-top: 10px;
        }

        form .Form-Row:nth-child(n+3)
        {
            margin-top: 10rem;
        }
    }


    .Close
    {
        position:      absolute;
        top:           -50rem;
        right:         -50rem;
        display:       block;
        width:         36rem;
        height:        36rem;
        border:        2px solid #fff;
        border-radius: 50%;
        transition:    all .4s;
        &:hover
        {
            border-color: $Pink;
            svg
            {
                fill: $Pink;
            }
        }
        svg
        {
            display:    block;
            margin:     5rem auto;
            width:      22rem;
            height:     22rem;
            fill:       #fff;
            transition: fill .4s;
        }
    }
    h5
    {
        @extend %Heading-Std;
        position:       relative;
        font-size:      37rem;
        letter-spacing: -3rem;
        color:          $Pink;
        @include Adaptive('>=desktop')
        {
            font-size: 40rem;
        }

        &:after
        {
            content:          '';
            position:         absolute;
            bottom:           -20rem;
            background-color: #d3d3d3;
            width:            100rem;
            height:           6rem;
            left:             calc(50% - 50rem);
        }
    }
    p
    {
        margin-top: 40rem;
        font-size:  25rem;
        text-align: center;
        color:      #787878;
        @include Adaptive('>=desktop')
        {
            font-size: 18rem;
        }
    }
    form
    {
        margin-top: 40rem;
        font-size:  0;
        .Form-Row
        {
            width: 100%;
            @include Adaptive('<desktop')
            {
                & + .Form-Row
                {
                    margin-top: 50rem;
                }
            }
            @include Adaptive('>=desktop')
            {
                display: inline-block;
                width:   50%;
                &:nth-child(odd)
                {
                    padding-right: 5%;
                }
                &:nth-child(even)
                {
                    padding-left: 5%;
                }
                &:nth-child(n+3)
                {
                    margin-top: 30rem;
                }
            }

            label
            {
                display:     block;
                color:       $Pink;
                font-size:   18rem;
                font-weight: 800;
            }
            input
            {
                width:       100%;
                margin-top:  8rem;
                padding:     6rem;
                border:      2px solid #d3d3d3;
                height:      20rem;
                font-size:   18rem;
                font-weight: 800;
                color:       #787878;
                &:focus
                {
                    outline: none;
                }
            }

            input[type='checkbox']
            {
                visibility: hidden;
                width:      0;
                height:     0;
                & + label
                {
                    position:     relative;
                    width:        100%;
                    display:      block;
                    padding-left: 28rem;
                    padding-top:  3rem;
                    font-weight:  normal;
                    font-size:    18rem;
                    color:        #787878;
                    cursor:       pointer;
                    &::selection
                    {
                        background: transparent;
                    }
                    &:before
                    {
                        content:  '';
                        position: absolute;
                        top:      0;
                        left:     0;
                        width:    18rem;
                        height:   18rem;
                        border:   2rem solid #d3d3d3;
                    }
                }

                &:checked + label:after
                {
                    content:             '';
                    position:            absolute;
                    top:                 -2rem;
                    left:                2rem;
                    width:               22rem;
                    height:              19rem;
                    background-image:    url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgc3R5bGU9ImZpbGw6I0U2NEY5NjsiIHZpZXdCb3g9IjAgMCAyMS4yIDE1LjYiPjxyZWN0IHg9Ii0wLjMiIHk9IjcuOSIgdHJhbnNmb3JtPSJtYXRyaXgoMC43MDcxIDAuNzA3MSAtMC43MDcxIDAuNzA3MSA4LjY1NjkgLTEuMTAwNSkiIHdpZHRoPSIxMiIgaGVpZ2h0PSI0Ii8+PHJlY3QgeD0iNC40IiB5PSI1LjgiIHRyYW5zZm9ybT0ibWF0cml4KDAuNzA3MSAtMC43MDcxIDAuNzA3MSAwLjcwNzEgLTEuNTY1IDExLjc3ODIpIiB3aWR0aD0iMTgiIGhlaWdodD0iNCIvPjwvc3ZnPg==);
                    background-position: center;
                    background-repeat:   no-repeat;
                }

            }
            &.Checkbox
            {
                display: block;
                width:   100%;
                margin-top: 15rem !important;
            }
        }

        button.Submit
        {
            display:          block;
            margin:           30px auto 0;
            clear:            both;
            padding:          18rem 60rem;
            text-transform:   uppercase;
            font-size:        20rem;
            font-weight:      800;
            color:            $Blue;
            border:           3rem solid $Blue;
            background-color: #fff;
            transition:       all .4s;
            cursor:           pointer;
            &:hover
            {
                color:            #fff;
                background-color: $Blue;
            }
        }
    }
}

// ---------------------------------------------------------------------------------------------------------------------