$Ham-Size: 44rem;
$Ham-Thickness: 7rem;
$Ham-Padding-Around: 44rem;
.Hamburger {
    display: block;
    position: absolute;
    top: 40rem;
    right: 40rem;
    width: $Ham-Size;
    height: $Ham-Size;
    cursor: pointer;

    @include Adaptive('>=desktop') {
        display: none;
    }
    span {
        margin-top: 7rem;
    }
    span,
    span:before,
    span:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        display: block;
        cursor: pointer;
        height: $Ham-Thickness;
        background: $Pink;
    }
    span:before {
        top: -18rem;
    }
    span:after {
        bottom: -18rem;
    }
    span,
    span:before,
    span:after {
        transition: all .5s ease-in-out;
    }

}

nav {
    &.Active span {
        background-color: transparent;
    }
    &.Active span:before,
    &.Active span:after {
        top: 0;
    }
    &.Active span:before {
        transform: rotate(360deg + 45deg);
    }
    &.Active span:after {
        transform: rotate(360deg + 135deg);
    }

    @include Adaptive('<1080px') {
        display: block !important;

        ul {
            visibility: hidden;
            transition: all 0.3s;
            padding-top: 0 !important;
            overflow: hidden;
            position: relative;
            height: 0;
        }


        &.Active {
            ul {
                visibility: visible;
                height: 100vw;
                padding-top: 30rem !important;
            }
        }
    }
}