.JS-Modal
{
    visibility:       hidden;

    position:         absolute;
    @include Adaptive('>=tablet')
    {
        position: fixed;
    }
    opacity:          0;
    z-index:          1000;
    top:              0;
    left:             0;
    right:            0;
    width:            100%;
    height:           100%;

    background-color: rgba(0, 0, 0, .8);

    transition:       all 0.7s ease;
    perspective:      3000px;

    @include Adaptive('<desktop')
    {
        &#Modal-100
        {
            position:   static;
            display:    none;
            transition: 0s ease;
        }
    }
}

@include Adaptive('<desktop')
{
    #Modal-100 .JS-Modal-Box
    {
        position: static;
    }
}

.JS-Modal.Visible
{
    visibility: visible;
    opacity:    1;
    @include Adaptive('<desktop')
    {
        &#Modal-100
        {
            display: block;
        }
    }
}

.JS-Modal-Box
{
    position:         absolute;

    box-sizing:       border-box;
    top:              15%;

    margin:           0 auto;
    padding:          40px;

    background-color: transparent;
    transition:       all 0.6s ease;
    transform:        rotateX(90deg);
}

.JS-Modal.Visible .JS-Modal-Box
{
    /*top: 25%;*/
    transform:  rotateX(0deg);
    transition: all 0.7s ease;
}

.JS-Modal-Close
{
    position:  absolute;
    width:     25px;
    top:       10px;
    right:     10px;
    font-size: 36px;
    cursor:    pointer;
}

@include Adaptive('<desktop')
{
    #Modal-100 .Modal-Inner .Close
    {
        top:   20rem;
        right: 20rem;
    }
}

.JS-Form-Result
{
    margin-top: 30rem;
    font-size:  22rem;
    text-align: center;
    color:      #e64f96;
}

.JS-Message-Error
{
    border: 2px solid #ea6ca7 !important;
}

.Modal-Slider
{
    background-image: none;
    position:         fixed;

    @include Adaptive('<tablet')
    {
        .Modal-Inner .Close
        {
            top:     30px;
            right:   30px;
            z-index: 1000;
        }
    }
}

.Modal-Slider-Inner
{
    width:            100% !important;
    height:           100%;
    padding:          0 !important;

    top:              0;
    bottom:           0;
    left:             0 !important;
    right:            0 !important;

    @include Adaptive('>=tablet')
    {
        width:  60% !important;
        height: 50%;

        top:    25%;
        bottom: 10%;
        left:   20% !important;
        right:  20% !important;
    }
    background-image: none;
}

.Gallery-Slider
{
    position:   relative;
    height:     100%;
    background: transparent;
}

.Gallery-Wrapper
{
    overflow: hidden;
    position: relative;
    width:    100%;
    height:   100%;
}

.Gallery-Item.Section-Slider-Item
{
    height:              100%;
    width:               100%;
    position:            absolute;
    top:                 0;
    background-size:     cover !important;
    background-position: center;

    @include Adaptive('>600px')
    {
        background-size: contain !important;
    }

}

.Gallery-Slider, .Slides
{
    .Arrow
    {
        position: absolute;

        top:      calc(50% - 75rem);

        cursor:   pointer;

        &.Left
        {
            left: 30rem;

            @include Adaptive('>=tablet')
            {
                left: -100rem;
            }
        }
        &.Right
        {
            right:     30rem;

            @include Adaptive('>=tablet')
            {
                right: -100rem;
            }
            transform: rotate(180deg);
        }
        svg
        {
            padding:    0 20rem;
            width:      35rem;
            fill:       #fff;
            transition: all .4s;
            &:hover
            {
                fill: #6e00a7;
            }
        }

        &:hover
        {
            svg
            {
                fill: #6e00a7;
            }
        }
    }
}

.Slides
{
    .Arrow
    {
        display: none;
        @include Adaptive('>=desktop')
        {
            display: block;
        }
        @include Adaptive('>=desktop')
        {
            &.Left
            {
                left: 50rem;
            }
            &.Right
            {
                right: 50rem;
            }
        }
    }
}

#Modal-Time
{
    position: fixed;
    .JS-Modal-Box
    {
        top: -50px
    }

    .Modal-Inner
    {
        padding:          40rem 40rem 35rem;
        background-image: none;
    }
    .Training-Modal-Outer
    {
        background: #fff;
    }
    
    .Training-Modal
    {
        .Time
        {
            font-size:   20rem;
            color:       #e85e9d;
            font-weight: 900;
        }

        .Title
        {
            text-transform: uppercase;
            color:          #44b3f2;
            font-size:      30rem;
            font-weight:    900;
        }
        .Description
        {
            font-size:     18rem;
            line-height:   24rem;
            margin-top:    15px;
            margin-bottom: 20px;
            text-align:    left;
        }
        .Trainer, .Duration
        {
            color:        #6d6e70;
            margin-right: 60px;
        }

        .Duration
        {
            span
            {
                text-transform: lowercase;
            }
        }
        svg
        {
            width:          32px;
            height:         32px;
            margin-right:   10px;
            display:        inline-block;
            vertical-align: top;
        }
        small
        {
            display:        block;
            margin-top:     4px;
            margin-bottom:  2px;
            font-size:      10px;
            font-weight:    700;
            text-transform: uppercase;
        }
        span
        {
            display:        block;

            font-size:      14px;
            font-weight:    900;
            text-transform: uppercase;
            color:          #e64f96;
        }

        div
        {
            display: inline-block;
        }
    }
}

.Modal-White{
    background-color: #fff;
}