.Slider-Pagination
{
	width:      100%;
	display:    block;
	text-align: center;

	&::selection
	{
		background-color: transparent;
	}

	li
	{
		display: inline-block;
		a
		{
			@extend %Pagination-Circle;
			&:hover
			{
				background-color: rgba(255,255,255,.6);
			}

		}
		&.Active a:hover
		{
			cursor:default;
		}

		& + li
		{
			margin-left: 12rem;
		}
	}
}